<head>
    <title>Branislav Jenco</title>
    <link rel="stylesheet" href="styles/style.css" />
    <script
        data-goatcounter="https://branislavjenco.goatcounter.com/count"
        async
        src="//gc.zgo.at/count.js"
    ></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [
                    ["$", "$"],
                    ["\\(", "\\)"],
                ],
            },
        };
    </script>
    <script
        id="MathJax-script"
        async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
    ></script>
</head>
