<html>
    <head>
        <title>Branislav Jenco</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles/style.css" />
        <script
            data-goatcounter="https://branislavjenco.goatcounter.com/count"
            async
            src="//gc.zgo.at/count.js"
        ></script>
        <script>
            MathJax = {
                tex: {
                    inlineMath: [
                        ["$", "$"],
                        ["\\(", "\\)"],
                    ],
                },
            };
        </script>
        <script
            id="MathJax-script"
            async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
        ></script>
    </head>
    <body>
        <div class="container">
            <span class="header">
                <h1 class="title">branislav's blog</h1>
                <a href="./about.html">About me</a>
            </span>
            <div>{{ posts|safe }}</div>
        </div>
        <script>
            let start = 100;
            const container = document.querySelector(".container");
            container.style.height = `${start}vh`;
            let lastScrollTop = 0;

            window.addEventListener("scroll", (event) => {
                // Get the current scroll position
                const scrollTop =
                    window.scrollY || document.documentElement.scrollTop;
                const windowHeight = window.innerHeight;
                const documentHeight = document.documentElement.scrollHeight;

                // Check if the user is at the bottom of the page
                if (scrollTop + windowHeight >= documentHeight) {
                    // Check if the user is scrolling down
                    if (scrollTop > lastScrollTop) {
                        const container = document.querySelector(".container");

                        start = start + 20;
                        container.style.height = `${start}vh`;
                    }
                }

                // Update the last scroll position
                lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
                // console.log("scroll", event);
            });
        </script>
    </body>
</html>
