<html>
    {{ head|safe }}
    <body>
        <div class="container">
            <header class="row">
                <h1 class="title"><a href=".">branislav's blog</a></h1>
                <span class="row">
                    <a href="." style="margin-right: 1rem"
                        ><h2>&#x2196; other posts</h2></a
                    >
                    <a href="./about.html"><h2>about</h2></a>
                </span>
            </header>
            <main class="post">
                <h1 a>{{ title|safe }}</h1>
                <p>
                    <em class="date">{{ date|safe }}</em>
                </p>
                {{ body|safe }}
            </main>
            {{ footer|safe }}
        </div>
    </body>
</html>
